@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PlayfairDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlayfairDisplay-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
